<ng-container *ngIf="{ 'icon': iconButton, 'button': stdButton, 'stroked': strokedButton, 'raised': raisedButton  } as templates">
    <ng-template [ngTemplateOutlet]="templates[type]"></ng-template>
</ng-container>

<ng-template #stdButton>
    <button (click)="clickBtn()" [matTooltip]="tooltipMessage" [matTooltipDisabled]="isTooltipDisabled" 
        [matTooltipPosition]="tooltipPosition"
        [color]="color" [disabled]="disabled"
        mat-button>
        {{ text }}
    </button>
</ng-template>

<ng-template #raisedButton>
    <button (click)="clickBtn()" [matTooltip]="tooltipMessage" [matTooltipDisabled]="isTooltipDisabled" 
        [matTooltipPosition]="tooltipPosition"
        [color]="color" [disabled]="disabled"
        mat-raised-button>
        {{ text }}
    </button>
</ng-template>

<ng-template (click)="clickBtn()" #strokedButton>
    <button  [matTooltip]="tooltipMessage" [matTooltipDisabled]="isTooltipDisabled" 
        [matTooltipPosition]="tooltipPosition"
        [color]="color" [disabled]="disabled"
        mat-stroked-button>
        {{ text }}
    </button>
</ng-template>

<ng-template #iconButton>
    <button (click)="clickBtn()" [matTooltip]="tooltipMessage" [matTooltipDisabled]="isTooltipDisabled" 
        [matTooltipPosition]="tooltipPosition"
        mat-icon-button>
        <mat-icon>{{ icon }}</mat-icon>
    </button>
</ng-template>