:host {
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 100%;
}

.quotes-container {
    flex-grow: 1;
}

.game-cards {
    background-color: white;
    height: 70vh;
}

.cards {
    height: 100%;
}